
<div class="container">

 <!-- エラーメッセージ -->
 <% if @user.errors.any? %>
 <div class="errors" style="padding-left: 230px;"><%=  @user.errors.full_messages.length  %>errors prohibited this book from being saved:</div>
 <ul style="padding-left: 250px;">
  <% @user.errors.full_messages.each do |message| %>
  <li class="error-text"><%= message %></li>
  <% end %>
</ul>
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="form-header text-center">
      <h2 class="form-header-title">User info</h2>
    </div>
    <div class="form-body">
      <%= form_for(@user) do |f| %>
      <div class="form-group has-icon">
        <%= f.label :name ,'Name' %>
        <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
      </div>
      <div class="form-group has-icon">
        <%= f.label :image,'Image' %>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
        <%= f.label :introduction ,'Introduction' %>
        <%= f.text_area :introduction ,autofocus: true,class:"form-control", placeholder: "自己紹介" %>
      </div>
      <%= f.submit "Update User", class:"btn btn-lg btn-block btn-base-1 mt-20 btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
</div>




